In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
path = "./DataSources/VISA_transaction_summary - visa_new.csv"
df = pd.read_csv(path)

In [10]:
df

,transaction_id,external_user_id,transaction_amount,created_at,name,category
0,464050142633304,VOXLAT0006010732025283345,22.08,2024-02-19 3:57:48,MILKRUN New Zealand,Retailers
1,304050138039532,VOXLAT0006010732026096480,36.99,2024-02-19 3:50:07,Cotton On New Zealand,Fashion & Retail
2,384050128359200,VOXLAT0006010732026401300,180.44,2024-02-19 3:33:59,MILKRUN New Zealand,Retailers
3,384050123292049,VOXLAT0006010732021856243,270.00,2024-02-19 3:25:33,Foot Locker New Zealand,Fashion & Retail
4,584050056781674,VOXLAT0006010732020290139,105.95,2024-02-19 1:34:43,Sportsfuel New Zealand,Retailers
...,...,...,...,...,...,...
9995,583072224012725,VOXLAT0006010732024789201,200.00,2023-03-13 6:13:27,Foot Locker New Zealand,Fashion & Retail
9996,383072140617909,VOXLAT0006010732021659027,25.10,2023-03-13 3:54:30,Menulog NZ,Retailers
9997,463072111137846,VOXLAT0006010732021914109,91.98,2023-03-13 3:05:24,Menulog NZ,Retailers
9998,463072068007932,VOXLAT0006010732021426575,49.99,2023-03-13 1:53:26,Laithwaites New Zealand,Retailers
9999,303072051368000,VOXLAT0006010732024303979,114.99,2023-03-13 1:25:41,HelloFresh New Zealand,Retailers

In [25]:
df['created_at'] = pd.to_datetime(df['created_at'])
first_day = df['created_at'].min().strftime('%Y-%m-%d')
last_day = df['created_at'].max().strftime('%Y-%m-%d')

print(first_day, last_day )
""" 11 Months data """

2023-03-13 2024-02-19

' 11 Months data '

In [26]:
df.columns

Index(['transaction_id', 'external_user_id', 'transaction_amount',
       'created_at', 'name', 'category'],
      dtype='object')

### Unique Categories

In [27]:
unique_categories = df['category'].unique()
unique_categories

array(['Retailers', 'Fashion & Retail', 'Travel', 'Beauty',
       'Health and Wellness', 'Miscellaneous', 'Marketplace'],
      dtype=object)

In [37]:
df.columns

Index(['transaction_id', 'external_user_id', 'transaction_amount',
       'created_at', 'name', 'category'],
      dtype='object')

### Renaming Columns

In [41]:

df.rename(columns={'external_user_id': 'uid'}, inplace=True)
df.rename(columns={'name': 'merchant_name'}, inplace=True)
df.rename(columns={'transaction_amount': 'order_value'}, inplace=True)

In [43]:
df.to_csv("DataSources/before_analysis.csv", index=False)