# Preprocessing
- data to be used: with_wallet_share.csv
- path = '/DataSources/with_wallet_share.csv'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [84]:
df_path = "./DataSources/with_wallet_share.csv"
df = pd.read_csv(df_path)
print("Shape:", "-"*10)
print(df.shape)
print("Columns:", "-"*10)
print(df.columns.to_list())
print("Table:", "-"*10)
df.head()

Shape: ----------
(10000, 11)
Columns: ----------
['transaction_id', 'uid', 'order_value', 'created_at', 'merchant_name', 'category', 'recency', 'frequency', 'monetary', 'order_value_total', 'wallet_share_by_category']
Table: ----------

,transaction_id,uid,order_value,created_at,merchant_name,category,recency,frequency,monetary,order_value_total,wallet_share_by_category
0,464050142633304,VOXLAT0006010732025283345,22.08,2024-02-19 03:57:48,MILKRUN New Zealand,Retailers,8,1,22.08,1164391.00,0.001896
1,304050138039532,VOXLAT0006010732026096480,36.99,2024-02-19 03:50:07,Cotton On New Zealand,Fashion & Retail,8,1,36.99,261796.18,0.014129
2,384050128359200,VOXLAT0006010732026401300,180.44,2024-02-19 03:33:59,MILKRUN New Zealand,Retailers,8,1,180.44,1164391.00,0.015497
3,384050123292049,VOXLAT0006010732021856243,270.00,2024-02-19 03:25:33,Foot Locker New Zealand,Fashion & Retail,8,3,611.13,261796.18,0.103134
4,584050056781674,VOXLAT0006010732020290139,105.95,2024-02-19 01:34:43,Sportsfuel New Zealand,Retailers,8,12,768.28,1164391.00,0.009099

# Initial Process to do

In [85]:
# Drop rows where uid does not start with 'VOXLAT'
df = df[df['uid'].str.startswith('VOXLAT')]

# Changing uid to numerical
df['uid_without_string'] = df['uid'].str.replace('VOXLAT', '')
df['uid_without_string'].str.startswith("").sum()

# Extract relevant features from the timestamp
df['hour_of_day'] = pd.to_datetime(df['created_at']).dt.hour
df['day_of_week'] = pd.to_datetime(df['created_at']).dt.dayofweek
df['month'] = pd.to_datetime(df['created_at']).dt.month


c_nums = pd.Categorical(df['category']).codes
df['category'] = c_nums

category_mapping =pd.Categorical(df['category']).categories
#output
# ----------------------------------
# ['Beauty', 'Fashion & Retail', 'Health and Wellness', 'Retailers',
#        'Travel']

# this will be used for after prediction process



# dropping columns that are not needed 
df = df.drop(['merchant_name', 'uid','created_at'], axis=1)

# Saving Training Dataset

In [125]:
# df.to_csv("./DataSources/training.csv", index=False)

In [87]:

# from sklearn.cluster import KMeans

# # Selecting relevant columns for clustering
# X = df

# # Initialize KMeans with 3 clusters
# kmeans = KMeans(n_clusters=3, random_state=42)

# # Fit the KMeans model
# kmeans.fit(X)

# # Add the cluster labels to the dataframe
# df['cluster'] = kmeans.labels_

In [20]:
# kmeans.feature_names_in_

array(['transaction_id', 'recency', 'frequency', 'monetary',
       'order_value_total', 'wallet_share_by_category'], dtype=object)

In [94]:
# from sklearn.cluster import DBSCAN

# # Initialize DBSCAN
# dbscan = DBSCAN(eps=2, min_samples=5)

# # Fit the model
# dbscan.fit(X)

# # Add the cluster labels to the dataframe
# df['cluster'] = dbscan.labels_

# np.unique(dbscan.labels_, return_counts=True)

In [124]:

# cluster_agg = df.groupby('cluster').agg({
#     'recency': 'mean',
#     'frequency': 'mean',
#     'monetary': 'mean',
#     'order_value_total': 'mean',
#     'wallet_share_by_category': 'mean'
# }).round(3)

# cluster_agg

,recency,frequency,monetary,order_value_total,wallet_share_by_category
cluster,,,,,
0,203.620,8.642,1076.444,946753.634,0.051
1,202.024,8.932,1075.441,978821.456,0.047