In [2]:
import pandas as pd

In [3]:

df = pd.read_csv('./Req-3-Top Issuers Analysis.csv')
df['issuer_bin'] = df['issuer_bin'].astype(int)

In [4]:
df

     Unnamed: 0  issuer_bin  card_id_count
0           194      470881           8140
1           262      498000           7862
2           266      498005           7086
3            42      429769           4527
4           270      498011           1888
..          ...         ...            ...
389         172      468515              1
390         288      498070              1
391         285      498057              1
392         284      498048              1
393           0      405743              1

[394 rows x 3 columns]

In [5]:
# import pandas as pd
# import requests
# import time
# from requests.exceptions import RequestException

# # Load the CSV file
# file_path = '/kaggle/input/top-issuer/Top Issuer analysis.csv'
# df = pd.read_csv(file_path)
# df['Issuer bin'] = df['Issuer bin'].astype(int)

# # Function to get bank details from Binlist API with retry logic
# def get_bank_details(bin_number, max_retries=5, initial_delay=1):
#     delay = initial_delay
#     for attempt in range(max_retries):
#         try:
#             url = f"https://lookup.binlist.net/{bin_number}"
#             response = requests.get(url)
#             if response.status_code == 200:
#                 data = response.json()
#                 bank_name = data.get("bank", {}).get("name", "Unknown")
#                 print(f"BIN: {bin_number}, Bank: {bank_name}")
#                 return bank_name
#             elif response.status_code == 429:
#                 print(f"Rate limit hit. Retrying in {delay} seconds...")
#                 time.sleep(delay)
#                 delay *= 2  # Exponential backoff
#             else:
#                 print(f"Error {response.status_code}: {response.reason}")
#                 return "Unknown"
#         except RequestException as e:
#             print(f"Request failed: {e}")
#             time.sleep(delay)
#             delay *= 2
#     print(f"Max retries reached for BIN {bin_number}. Moving to next.")
#     return "Max retries reached"

# # Load existing progress if any
# try:
#     existing_results = pd.read_csv('output/Issuer_bin_to_bank.csv')
#     bin_to_bank = dict(zip(existing_results['Issuer bin'], existing_results['Bank']))
#     print(f"Loaded {len(bin_to_bank)} existing results.")
# except FileNotFoundError:
#     bin_to_bank = {}

# # Process BINs
# for bin_number in df['Issuer bin']:
#     if not pd.isna(bin_number) and bin_number not in bin_to_bank:
#         bank_name = get_bank_details(int(bin_number))
#         bin_to_bank[bin_number] = bank_name
        
#         # Save progress after each successful lookup
#         result_df = pd.DataFrame(list(bin_to_bank.items()), columns=['Issuer bin', 'Bank'])
#         result_df.to_csv('Issuer_bin_to_bank.csv', index=False)
        
#         # Add a small delay between requests to respect rate limits
#         time.sleep(1)

# # Print the final map of BIN to bank name
# for bin_number, bank_name in bin_to_bank.items():
#     print(f"BIN: {bin_number}, Bank: {bank_name}")

# print(f"Processed {len(bin_to_bank)} out of {len(df)} BINs.")

This used to get the 6 digit issuer bin from 4 digit

In [9]:

# Filtering rows where "Issuer bin" starts with 498 and has a digit count of 6
filtered_df = df[df['issuer_bin'].astype(str).str.startswith('4624')]

# Print the filtered dataframe
filtered_df.iloc[0]["issuer_bin"]

'46243702'

In [7]:
df["issuer_bin"] = df["issuer_bin"].astype(str)
df["first_4_digits"] = df["issuer_bin"].str[:4]

df

     Unnamed: 0 issuer_bin  card_id_count first_4_digits
0           194     470881           8140           4708
1           262     498000           7862           4980
2           266     498005           7086           4980
3            42     429769           4527           4297
4           270     498011           1888           4980
..          ...        ...            ...            ...
389         172     468515              1           4685
390         288     498070              1           4980
391         285     498057              1           4980
392         284     498048              1           4980
393           0     405743              1           4057

[394 rows x 4 columns]

Second dataset

In [8]:
# Group by the first 4 digits and sum the counts
grouped_df = df.groupby("first_4_digits")["card_id_count"].sum().reset_index()
grouped_df = grouped_df.sort_values(by="card_id_count", ascending=False).reset_index(drop=True)
grouped_df[:20]

   first_4_digits  card_id_count
0            4980          21286
1            4708           8765
2            4297           4977
3            4537           1540
4            4205           1530
5            4534           1200
6            4541           1049
7            4649            973
8            4363            968
9            4616            828
10           4986            751
11           4539            515
12           4097            466
13           4924            408
14           4987            387
15           4162            358
16           4721            349
17           4538            344
18           4984            335
19           4901            315

In [11]:
import pandas as pd


# Bank mapping data
bank_mapping = {
    '4980': 'Sumitomo Mitsui Card Company Limited',
    '4708': 'YES BANK, LTD.',
    '4297': 'RAKUTEN KC CO., LTD.',
    '4537': 'WELLS FARGO BANK, N.A.',
    '4205': 'AEON CREDIT SERVICE CO., LTD.',
    '4534': 'DC CARD CO., LTD.',
    '4541': 'REDIT SAISON CO., LTD.',
    '4363': 'UNITED COMMERCIAL BANK',
    '4649': 'YAMAGIN CREDIT CO., LTD.',
    '4616': 'U.S. BANK N.A. ND',
    '4986': 'MITSUBISHI UFJ FINANCIAL GROUP, INC.',
    '4539': 'OSTGIROT BANK AB',
    '4097': 'CAJA AHORROS GERONA',
    '4924': 'BANK OF AMERICA, N.A.',
    '4987': 'YAMAGIN CREDIT CO., LTD.',
    '4162': 'UNKNOWN',
    '4721': 'WELLS FARGO BANK IOWA, N.A.',
    '4538': 'MITSUBISHI UFJ FINANCIAL GROUP, INC.',
    '4984': 'BANCO DO BRASIL, S.A.',
    '4122': 'UNITED BANK, LTD.',
    # '4901': 'OMC CARD, INC.'
}

# Create DataFrame
grouped_df = grouped_df[:20]

# Map the bank names
grouped_df['Bank Name'] = grouped_df['first_4_digits'].map(bank_mapping)

# Reshape the columns
grouped_df = grouped_df[['first_4_digits', 'Bank Name', 'card_id_count']]

grouped_df.head(20)

   first_4_digits                             Bank Name  card_id_count
0            4980  Sumitomo Mitsui Card Company Limited          21286
1            4708                        YES BANK, LTD.           8765
2            4297                  RAKUTEN KC CO., LTD.           4977
3            4537                WELLS FARGO BANK, N.A.           1540
4            4205         AEON CREDIT SERVICE CO., LTD.           1530
5            4534                     DC CARD CO., LTD.           1200
6            4541                REDIT SAISON CO., LTD.           1049
7            4649              YAMAGIN CREDIT CO., LTD.            973
8            4363                UNITED COMMERCIAL BANK            968
9            4616                     U.S. BANK N.A. ND            828
10           4986  MITSUBISHI UFJ FINANCIAL GROUP, INC.            751
11           4539                      OSTGIROT BANK AB            515
12           4097                   CAJA AHORROS GERONA            466
13           4924                 BANK OF AMERICA, N.A.            408
14           4987              YAMAGIN CREDIT CO., LTD.            387
15           4162                               UNKNOWN            358
16           4721           WELLS FARGO BANK IOWA, N.A.            349
17           4538  MITSUBISHI UFJ FINANCIAL GROUP, INC.            344
18           4984                 BANCO DO BRASIL, S.A.            335
19           4901                        OMC CARD, INC.            315

In [ ]:
first_4_digits	count	Issuer Bank
4980	21286	Sumitomo Mitsui Card Company Limited
4708	8765	YES BANK, LTD.
4297	4977	RAKUTEN KC CO., LTD.
4537	1540	WELLS FARGO BANK, N.A.
4205	1530	AEON CREDIT SERVICE CO., LTD.
4534	1200	DC CARD CO., LTD.
4541	1049	REDIT SAISON CO., LTD.
4363	973	UNITED COMMERCIAL BANK
4649	968	YAMAGIN CREDIT CO., LTD.
4616	828	U.S. BANK N.A. ND
4986	751	MITSUBISHI UFJ FINANCIAL GROUP, INC.
4539	515	OSTGIROT BANK AB
4097	466	CAJA AHORROS GERONA",
4924	408	BANK OF AMERICA, N.A.
4987	387	YAMAGIN CREDIT CO., LTD.
4162	358	UNKOWN
4721	349	WELLS FARGO BANK IOWA, N.A.
4538	344	MITSUBISHI UFJ FINANCIAL GROUP, INC.
4984	335	BANCO DO BRASIL, S.A.
4122	315	UNITED BANK, LTD.
# 4901    315	OMC CARD, INC.

In [ ]:
4980	Sumitomo Mitsui Card Company Limited
4708	YES BANK, LTD.
4297	RAKUTEN KC CO., LTD.
4537	WELLS FARGO BANK, N.A.
4205	AEON CREDIT SERVICE CO., LTD.
4534	DC CARD CO., LTD.
4541	REDIT SAISON CO., LTD.
4363	UNITED COMMERCIAL BANK
4649	YAMAGIN CREDIT CO., LTD.
4616	U.S. BANK N.A. ND
4986	MITSUBISHI UFJ FINANCIAL GROUP, INC.
4539	OSTGIROT BANK AB
4097	CAJA AHORROS GERONA",
4924	BANK OF AMERICA, N.A.
4987	YAMAGIN CREDIT CO., LTD.
4162	UNKOWN
4721	WELLS FARGO BANK IOWA, N.A.
4538	MITSUBISHI UFJ FINANCIAL GROUP, INC.
4984	BANCO DO BRASIL, S.A.
4122	UNITED BANK, LTD.

In [ ]:
def sing_song():
    print("මම ගීතය ගැන ගීතය ගැන ගීතය ගැන ගීතය ගැන")
    print("මම ගීතය ගැන ගීතය ගැන ගීතය ගැන ගීතය ගැන")
    print("මම ගීතය ගැන ගීතය ගැන ගීතය ගැන ගීතය ගැන")
    print("මම ගීතය ගැන ගීතය ගැන ගීතය ගැන ගීතය ගැන")

sing_song()

niwiya niya sada senehase sindu ranjana, renda,
wala wena, nya hene renda, Liyuma niya dethi
ranjana, ranjana, mage renda, senehase sada
kaara wala Liyuma Adhariya kaara hene gee ranjana,
niwiya mage Adhariya ranjana, Adhariya
sada senehase niwiya sindu dethi wena, renda,
wena, dethi niwiya renda, sindu sindu ran wena,
nya athi athi pichchuwe mage Sandun dethi
wena, senehase Sandun sada wala sindu pichchuwe gee
wena, kaara wena, Adhariya wala

In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.3.1-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sweetviz) (2.2.1)
Requirement already satisfied: numpy>=1.16.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sweetviz) (1.22.4)
Requirement already satisfied: matplotlib>=3.1.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sweetviz) (3.8.3)
Requirement already satisfied: tqdm>=4.43.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sweetviz) (4.66.2)
Requirement already satisfied: scipy>=1.3.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sweetviz) (1.12.0)
Requirement already satisfied: jinja2>=2.11.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sweetviz) (3.1.3)
Requirement already satisfied: importlib-resources>=1.2.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sweetviz) (6.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from jinja2>=2.11.1->sweetviz) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=3.1.3->sweetviz) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=3.1.3->sweetviz) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=3.1.3->sweetviz) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: pillow>=8 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=3.1.3->sweetviz) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=3.1.3->sweetviz) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=3.1.3->sweetviz) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Downloading sweetviz-2.3.1-py3-none-any.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 39.5 MB/s eta 0:00:00:00:0100:01
Installing collected packages: sweetviz
Successfully installed sweetviz-2.3.1

In [4]:
import sweetviz as sv
import pandas as pd

In [5]:
df = pd.read_csv('Req-1-VISA Japan Card Info.csv')

In [6]:
analyz = sv.analyze(df)

                                             |          | [  0%]   00:00 -> (? left)

In [7]:
analyz.show_html('VISA JAPAN CARD INFO Sweetviz analyz.html')

Report VISA JAPAN CARD INFO Sweetviz analyz.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [8]:
df = pd.read_csv('Req-2-cardholder_card_counts.csv')
analyz = sv.analyze(df)
analyz.show_html('VISA JAPAN cardholder_card_counts sweetviz analyz.html')

                                             |          | [  0%]   00:00 -> (? left)

Report VISA JAPAN cardholder_card_counts sweetviz analyz.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.